.auth-outer {
    width: 100%;
    float: left;
}
.auth-container {
    max-width: 680px;
    margin: 0 auto;
}
.login-left, .register-right {
    width: 50%;
    float: left;
    padding: 10px;
}
.form-group{
	margin-bottom: 15px;
}
.form-group label {
    width: 100%;
    display: block;
    margin-bottom: 3px;
}
.form-group input {
    height: 35px;
    width: 100%;
}
.auth-container-main h2 {
    margin: 0 0 15px;
    font-size: 18px;
}
button{
    width: 80px;
    height: 35px;
    cursor: pointer;
}
